// ============================================================================
//
//  [Contents]
//
//  - Wrapper and base class
//  - Navbar brand
//  - Navbar nav
//  - Navbar text
//  - Responsive navbar
//  - Navbar position
//  - Navbar themes
//
// ============================================================================




//
// Wrapper and base class
// ======================

.navbar {
  min-height: $navbar-height-xs;

  @include media-breakpoint-up(md) {
    min-height: $navbar-height-md;
  }
}




//
// Navbar brand
// ============
//
// Used for brand, project, or site name.
// ----------------------------------------------------------------------------

.navbar-brand {
  width: 114px;

  @include media-breakpoint-up(md) {
    width: 160px;
  }
}




//
// Navbar nav
// ==========
//
// Custom navbar navigation. Doesn't require `.nav`, but does use `.nav-link`.
// ----------------------------------------------------------------------------

.navbar-nav {

  .nav-item {
    z-index: 1; // Don't remove. Needed for default theme customizations.
  }

  .nav-link {}
}




//
// Navbar text
// ===========
//
// Navbars may contain bits of text. This class adjust alignment and spacing.
// ----------------------------------------------------------------------------

.navbar-text {}




//
// Responsive navbar
// =================
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.
//
// 1. Button for toggling the navbar when in its collapsed state.
//
// 2. This element is separated so we can easily override it with another icon
//    or image file as needed.
// ----------------------------------------------------------------------------

.navbar-toggler {} // 1

.navbar-toggler-icon {} // 2




//
// Navbar themes
// =============
//
// 🚨 HEADS UP! You probably don't need to add styles here.
//
// Most of what you want to accomplish can likely be done in `_variables.scss`
// or by adding utility classes to your `_header.ascx` and/or DDR menu file.
// ----------------------------------------------------------------------------

// Dark links against a light background
.navbar-light {

  .navbar-brand {}

  .navbar-nav {
    .nav-link {}
  }

  .navbar-toggler {}

  .navbar-toggler-icon {}

  .navbar-text {}
}

// Light links against a dark background
.navbar-dark {

  .navbar-brand {}

  .navbar-nav {
    .nav-link {}
  }

  .navbar-toggler {}

  .navbar-toggler-icon {}

  .navbar-text {}
}
